{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="connect_lida">
    <meta name="keywords" content="connect_lida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Коннект</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/furore" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">


    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="./home">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
            <div class="top-social">
                <a href="#", onclick="return false;"> +375336000315</a>
                <a target="_blank" href="https://www.instagram.com/connect_lida/"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://t.me/connect_lida"><i class="fa fa-telegram"></i></a>
                <a target="_blank" href="https://vk.com/connect_lida"><i class="fa fa-vk"></i></a>
                <a target="_blank" href="https://www.youtube.com/@connectcyberclub"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="#home">О нас</a></li>
                            <li class="active"><a href="#price-plan" >Цены</a></li>
                            <li><a href="#table">Расписание</a></li>
                            <li><a href="./gallery">Галерея</a></li>

                            <li><a href="#сontacts">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section id="home">
        <section class="hero-section">
            <div class="hero-items owl-carousel">
                <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero-slider/hero-1.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-text">
                                    <!-- <h2>Компьютерный клуб</h2> -->
                                    <!-- <h1>КОННЕКТ</h1> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero-slider/hero-2.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-text">
                                    <h2>Компьютерный клуб</h2>
                                    <h1>КОННЕКТ</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero-slider/hero-3.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-text">
                                    <h2>Компьютерный клуб</h2>
                                    <h1>КОННЕКТ</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Hero End -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>Забронируй ПК уже сейчас!</h3>
                        <p>Мы всегда рады приветствовать игроков в нашем клубе!</p>
                    </div>
                    <a target="_blank" href="https://www.instagram.com/connect_lida/" class="primary-btn cta-btn">Забронировать</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature Section Begin -->
    <section class="feature-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="{% static 'img/feature/feature-1.jpg' %}">
                        <h3>Общий зал</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="{% static 'img/feature/feature-2.jpg' %}">
                        <h3>Буткемп</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="{% static 'img/feature/feature-3.jpg' %}">
                        <h3>Арена</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>КиберКлуб КОННЕКТ — 550 М<sup>2</sup> В ЦЕНТРЕ ЛИДЫ</h2>
                        <p class="short-details">У нас можно лампово покатать с друзьями, принять участие в киберспортивных турнирах или посмотреть профессиональные игры на большом экране.</p>
                    </div>
                <!-- </div>
                <!-- <div class="col-lg-6">
                    <div class="about-img">
                        <!-- <img src="{% static 'img/home-about.jpg' %}" alt=""> </div> </div> -->
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Classes Section Begin -->
    
    <section class="classes-section">
        <!-- <div class="class-title set-bg" data-setbg="{% static 'img/classes-title-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                            <h2>Tекст</h2>
                            <p>Tекст.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-1.jpg' %}">
                        <h4>Бильярд</h4>
                        <p>Для тех, кто любит активный отдых, у нас есть кое-что особенное - мульти-игровой стол 6 в 1!</p>
                        <a href="#", onclick="return false;" class="primary-btn class-btn">от 10р</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-2.jpg' %}">
                        <h4>Кальян</h4>
                        <p>Кальянный бар с уютными столиками - идеальное место для беседы или комфортной работы 
                        </p>
                        <a href="#", onclick="return false;" class="primary-btn class-btn">от 20р</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-3.jpg' %}">
                        <h4>PS5</h4>
                        <p>Наши уютные PS5 Lounge зоны созданы для того, чтобы вы чувствовали себя как дома. </p>
                        <a href="#", onclick="return false;" class="primary-btn class-btn">от 10р</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-4.jpg' %}">
                        <h4>Кофе</h4>
                        <p>Что-нибудь о кофе над написать </p>
                        <a href="#", onclick="return false;" class="primary-btn class-btn">И фотку подобрать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Section End -->

    <!-- Class Time Section Begin -->
    <section id="table">
        <section class="classtime-section class-time-table spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Ивенты</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="timetable-controls">
                            <ul>
                                <li class="active" >Май</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="classtime-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>Понедельник</th>
                                <th>Вторник</th>
                                <th>Среда</th>
                                <th>Четверг</th>
                                <th>Пятница</th>
                                <th>Суббота</th>
                                <th>Воскресенье</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Данные из Excel будут здесь -->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>

    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch("{% static 'excel/events.xlsx' %}")
                .then(response => response.arrayBuffer())
                .then(data => {
                    const workbook = XLSX.read(data, { type: 'array' });
                    const sheetName = workbook.SheetNames[0];
                    const worksheet = workbook.Sheets[sheetName];
                    const json = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
                    populateTable(json);
                });

            function populateTable(data) {
                const tbody = document.querySelector('tbody');
                const timeSlots = new Set();

                // Collect unique time slots
                data.slice(1).forEach(row => {
                    if (row[0]) timeSlots.add(row[0]);
                });

                // Initialize table rows with time slots
                timeSlots.forEach(time => {
                    const tr = document.createElement('tr');
                    const timeTd = document.createElement('td');
                    timeTd.className = 'workout-time';
                    timeTd.textContent = time;
                    tr.appendChild(timeTd);

                    for (let i = 0; i < 7; i++) {
                        const td = document.createElement('td');
                        td.className = 'hover-bg ts-item';
                        tr.appendChild(td);
                    }
                    tbody.appendChild(tr);
                });

                // Populate the table with event data
                data.slice(1).forEach(row => {
                    const time = row[0];
                    const tr = Array.from(tbody.children).find(tr => tr.children[0].textContent === time);

                    if (tr) {
                        row.slice(1).forEach((cell, index) => {
                            if (cell) {
                                const td = tr.children[index + 1];
                                const [timeRange, event] = cell.split(' (');
                                const span = document.createElement('span');
                                span.textContent = timeRange;
                                const h6 = document.createElement('h6');
                                h6.textContent = event ? event.replace(')', '') : 'Текст';
                                td.setAttribute('data-tsmeta', event ? event.replace(')', '') : 'default');
                                td.appendChild(span);
                                td.appendChild(h6);
                            }
                        });
                    }
                });
            }
        });
    </script>
    <!-- Class Time Section End -->

    <!-- Price Plan Section Begin -->
    <section id="price-plan">
        <section class="price-section spad set-bg" data-setbg="{% static 'img/price-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Цены</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-price-plan">
                            <h4>Стандарт</h4>
                            <div class="price-plan">
                                <h2>от 5р <span>час</span></h2>
                            </div>
                            <ul>
                                <li>RTX 4060</li>
                                <li>i5 12600KF</li>
                                <li>AOC 24" 240hz</li>
                                <li>Logitech G102</li>
                                <li>HyperX Cloud 2</li>
                                <li>Red Square Keyrox TKL</li>
                            </ul>
                            <a href="https://www.instagram.com/connect_lida/" class="primary-btn price-btn">Забронировать</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-price-plan">
                            <h4>Буткемп</h4>
                            <div class="price-plan">
                                <h2>от 6р <span>час</span></h2>
                                <p>Мониторы на кронштейне*</p>
                            </div>
                            <ul>
                                <li>RTX 4060 Ti</li>
                                <li>i5 13600KF</li>
                                <li>ASUS 24" 280hz</li>
                                <li>Razer Deathadder V3</li>
                                <li>Logitech G Pro X</li>
                                <li>Akko 5087S</li>
                            </ul>
                            <a href="https://www.instagram.com/connect_lida/" class="primary-btn price-btn">Забронировать</a>
                            <div class="tic-text">
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-price-plan">
                            <h4>Арена</h4>
                            <div class="price-plan">
                                <h2>от 7р <span>час</span></h2>
                                <p>Мониторы на кронштейне*</p>
                            </div>
                            <ul>
                                <li>RTX 4070</li>
                                <li>i7 13700F</li>
                                <li>Acer 24" 390hz</li>
                                <li>Razer Deathadder V3</li>
                                <li>HyperX Cloud Alpha S</li>
                                <li>Akko 5087S</li>
                            </ul>
                            <a href="https://www.instagram.com/connect_lida/" class="primary-btn price-btn">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Price Plan Section End -->

    <!-- Choseus Section Begin -->
    <!-- <section class="chooseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Tекст</h2>
                        <p>Tекст.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'img/icons/chose-icon-1.png' %}" alt="">
                        <h5>Tекст</h5>
                        <p>Tекст. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'img/icons/chose-icon-2.png' %}" alt="">
                        <h5>Tекст</h5>
                        <p>Tекст.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'img/icons/chose-icon-6.png' %}" alt="">
                        <h5>Tекст</h5>
                        <p>Tекст.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    Choseus Section End -->

    <!-- Video Section Begin -->
    <section class="video-section set-bg" data-setbg="{% static 'img/video-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-text">
                        <h2>Tекст</h2>
                        <a href="https://www.youtube.com/watch?v=X_9VoqR5ojM" class="play-btn video-popup">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section End -->

    <!-- Blog Section Begin -->
    <section id="games">
        <section class="blog-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Наши игры</h2>
                        </div>
                    </div>
                </div>
                <div class="row blog-gird">
                    <div class="grid-sizer"></div>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item large-item set-bg" data-setbg="{% static 'img/blog/blog-1.jpg' %}">
                            <a  class="blog-text">
                                <div class="categories"></div>
                                <h5>Counter Strike 2</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item instagram-item">
                            <a href="https://www.instagram.com/connect_lida/" class="instagram-text">
                                <div class="categories">Текст <i class="fa fa-instagram"></i></div>
                                <h5>Tекст</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item small-item set-bg" data-setbg="{% static 'img/blog/blog-2.jpg' %}">
                            <a  class="blog-text">
                                <div class="categories"></div>
                                <h5>Dota 2</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item large-item xls-large set-bg" data-setbg="{% static 'img/blog/blog-3.jpg' %}">
                            <a  class="blog-text">
                                <div class="categories"></div>
                                <h5>GTA Online</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item large-item set-bg" data-setbg="{% static 'img/blog/blog-4.jpg' %}">
                            <a  class="blog-text">
                                <div class="categories"></div>
                                <h5>Fortnite</h5>
                            </a>
                            <div class="play-btn">
                                <a href="https://www.youtube.com/watch?v=X_9VoqR5ojM" class="play-in-btn video-popup">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item small-item set-bg" data-setbg="{% static 'img/blog/blog-5.jpg' %}">
                            <a  class="blog-text">
                                <div class="categories"></div>
                                <h5>Apex Legends</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- Blog Section End -->

    <!-- Cta Section Begin -->

    <!-- Cta Section End -->

    <!-- Map Section Begin -->
    <section id="сontacts">
        <div class="map">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.056104572665!2d25.29262957628292!3d53.89520673351547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46de8b03efd35e9b%3A0xf1dba2fecb22ee85!2z0JrQuNCx0LXRgNC60LvRg9CxINCa0J7QndCd0JXQmtCi!5e0!3m2!1sru!2spl!4v1716213382040!5m2!1sru!2spl" height="590" style="border: 0" allowfullscreen=""></iframe>
        </div>
        <!-- Map Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo-item">
                            <div class="f-logo">
                                <a href="./home">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                            <p></p>
                            <div class="social-links">
                                <h6>Следите за нами</h6>
                                <a target="_blank" href="https://www.instagram.com/connect_lida/"><i class="fa fa-instagram"></i></a>
                                <a target="_blank" href="https://t.me/connect_lida"><i class="fa fa-telegram"></i></a>
                                <a target="_blank" href="https://vk.com/connect_lida"><i class="fa fa-vk"></i></a>
                                <a target="_blank" href="https://www.youtube.com/@connectcyberclub"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <ul class="workout-program"style="
                            padding-bottom: 0px;
                            padding-top: 15px">;
                                <li><a href="#price-plan">Цены</a></li>
                                <li><a href="#">Меню</a></li>
                                <li><a href="#games">Игры</a></li>
                                <li><a href="#">Акции</a></li>
                                <li><a href="#">Правила</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget"style="
                        padding-bottom: 0px;
                        padding-top: 15px">;
                            <h5>Информация</h5>
                            <ul class="footer-info">
                                <li>
                                    <i class="fa fa-phone" style="left: -20px !important; top: 8px !important;"></i>
                                    <span>Телефон:</span>
                                    +375336000315
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" style="left: -24px !important; top: 8px !important;"></i>
                                    <span>Почта:</span>
                                    Tекст
                                </li>
                                <li>
                                    <i class="fa fa-map-marker" style="left: -20px !important; top: 8px !important;"></i>
                                    <span>Адрес</span>
                                    ул. Адама Мицкевича, 16, Lida
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>