{% load static %}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Konnect Lida">
    <meta name="keywords" content="Konnect Lida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Коннект</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/furore" rel="stylesheet">
                
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">


    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="./home">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
            <div class="top-social" style="margin-top: -5px;">
                <a href="#", onclick="return false;"> +375336000315</a>
                <a target="_blank" href="https://www.instagram.com/connect_lida/"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://t.me/connect_lida"><i class="fa fa-telegram"></i></a>
                <a target="_blank" href="https://vk.com/connect_lida"><i class="fa fa-vk"></i></a>
                <a target="_blank" href="https://www.youtube.com/@connectcyberclub"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="#home">О нас</a></li>
                            <li class="active"><a href="#price-plan" >Цены</a></li>
                            <li><a href="#table">Расписание</a></li>
                            <li><a href="./gallery">Галерея</a></li>

                            <li><a href="#сontacts">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Page Preloder -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>ПРАВИЛА</h2>
                        <ul class="short-details">
                            <li>Запрещается использовать программное обеспечение, не установленное на компьютере, запускать программы с носителей, вредоносно влияющие на работу системы.</li>
                            <li>Запрещается самостоятельное проникновение в систему, изменение настроек, удаление или изменение данных.</li>
                            <li>Администратор вправе отказать в посещении клуба любому клиенту без объяснения причин.</li>
                            <li>Администратор вправе удалить клиента из клуба без возврата денег, при нарушении правил клуба.</li>
                            <li>Администратор вправе отказать в посещении клуба лицам находящимся в алкогольном или наркотическом опьянении.</li>
                            <li>Детям до 18 лет разрешается посещать клуб с 8:00 до 22:00.</li>
                            <li>При непредоставлении документов (любой документ удостоверяющий личность) о наличии 18 лет, клиент на ночь не допускается, а предоплата не возвращается.</li>
                            <li>Запрещается нецензурно выражаться, оскорблять других клиентов (игроков) в устной и письменной форме. Нарушители будут оштрафованы удалением купленного времени.</li>
                            <li>Запрещается употреблять наркотические вещества на территории клуба.</li>
                            <li>Туалет находится внутри клуба, клиенты справляющие нужду на улице лишаются игрового времени.</li>
                            <li>Клуб работает круглосуточно. С 23:00 до 8:00 клуб работает в ночном режиме.</li>
                            <li>Курить табачные изделия можно только на улице.</li>
                            <li>Запрещено употреблять в клубе любые напитки и еду, приобретенные вне клуба.</li>
                            <li>Запрещено мусорить в клубе и на прилегающей территории.</li>
                            <li>При скоплении большого количества людей администратор вправе удалить всех, кроме тех, кто непосредственно находится за компьютером.</li>
                            <li>Если в результате действий клиента клуб понес какой-либо материальный ущерб, то клиент обязана полностью компенсировать этот ущерб.</li>
                            <li>Клуб не несет ответственность за функционирование интернет сервисов.</li>
                            <li>Клиент обязан выполнять указания администратора, касающиеся соблюдения настоящих правил, правил безопасности и технических условий эксплуатации компьютера.</li>
                            <li>Администратор обязан оказывать помощь клиенту в случае возникновения технических проблем.</li>
                            <li>Клиент не имеет право: самостоятельно передвигать системные блоки, разъединять составные части компьютера и сети, прикасаться к элементам электросети, питающие компьютеры и сетевые устройства.</li>
                            <li>Клиент не имеет право изменять настройки операционной системы, удалять и устанавливать программы, осуществлять иное несанкционированное вмешательство в работу компьютера и сети.</li>
                            <li>Настоящие правила могут быть дополнены администратором клуба.</li>
                            <li>Администрация не несет ответственность за сохранность личных вещей клиента.</li>
                            <li>Правила пользования клубными аккаунтами:</li>
                            <ul>
                                <li>Запрещено покупать игры, скины, внутриигровую валюту.</li>
                                <li>Запрещено продавать или передавать вещи из инвентаря клубных аккаунтов.</li>
                                <li>Запрещено открывать кейсы.</li>
                                <li>Использовать читы или любой другой запрещенный софт.</li>
                                <li>После использования на аккаунте не должно быть BAN и VAC блокировок.</li>
                                <li>При нарушении данных правил Вы обязаны возместить материальный ущерб или в случае блокировки предоставить свой аккаунт на время блокировки клубного аккаунта.</li>
                            </ul>
                        </ul>
                        <h2>ОПЛАЧИВАЯ ИГРОВОЕ ВРЕМЯ ВЫ АВТОМАТИЧЕСКИ СОГЛАШАЕТЕСЬ С ПРАВИЛАМИ КЛУБА</h2>
                    </div>
                <!-- </div>
                <!-- <div class="col-lg-6">
                    <div class="about-img">
                        <!-- <img src="{% static 'img/home-about.jpg' %}" alt=""> </div> </div> -->
            </div>
        </div>
    </section>
    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>Забронируй ПК уже сейчас!</h3>
                        <p>Мы всегда рады приветствовать игроков в нашем клубе!</p>
                    </div>
                    <a target="_blank" href="https://www.instagram.com/connect_lida/" class="primary-btn cta-btn">Забронировать</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="./home">
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                        <p></p>
                        <div class="social-links">
                            <h6>Следите за нами</h6>
                            <a target="_blank" href="https://www.instagram.com/connect_lida/"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="https://t.me/connect_lida"><i class="fa fa-telegram"></i></a>
                            <a target="_blank" href="https://vk.com/connect_lida"><i class="fa fa-vk"></i></a>
                            <a target="_blank" href="https://www.youtube.com/@connectcyberclub"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <ul class="workout-program">
                            <li><a href="#price-plan">Цены</a></li>
                            <li><a href="#" id="menu-btn">Меню</a></li>
                            <li><a href="#games">Игры</a></li>
                            <li><a href="#">Акции</a></li>
                            <li><a href="./rules">Правила</a></li>
                        </ul>
                    </div>
                    
                    <div id="overlay" class="overlay"></div>
                    <div id="menu-photo" class="menu-photo">
                        <img src="{% static 'img/menu.png' %}" alt="Меню">
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Информация</h5>
                        <ul class="footer-info">
                            <li>
                                <i class="fa fa-phone" style="left: -20px !important; top: 8px !important;"></i>
                                <span>Телефон:</span>
                                +375336000315
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" style="left: -24px !important; top: 8px !important;"></i>
                                <span>Почта:</span>
                                cybernova@bk.ru
                            </li>
                            <li>
                                <i class="fa fa-map-marker" style="left: -20px !important; top: 8px !important;"></i>
                                <span>Адрес</span>
                                ул. Адама Мицкевича, 16, Lida
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>